/* цвет-фона-страницы/цвет-шрифта #ffffff
цвет-фона-хедера #fafafa
цвет-фона-героя #F1F1F2 
первичный-цвет-кнопки rgba(28,28,28,0) вторичный-цвет-кнопки #F7941E
цвет-фона-секции-Blogs-Ever #231F20 
основной-цвет-шрифта #000000 */

:root {
  --bgc-page-color: #ffffff;
  --bgc-header-color: #fafafa;
  --bgc-hero-color: #f1f1f2;
  --bgc-section-color: #231f20;
  --font-prime-color: #000000;
  --button-transparent-color: rgba(28, 28, 28, 0);
  --button-secondary-color: #f7941e;
}
.list {
  list-style: none;
}

body {
  background-color: var(--bgc-page-color);
  color: var(--font-prime-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.list,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* Header style */

.header_container {
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
}

.header {
  background-color: var(--bgc-header-color);
}

.header_nav {
  display: flex;
}

.header_logo {
  margin-right: 433px;
  margin-left: 80px;
  color: inherit;
  font-family: Homemade Apple, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.17;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.header_logo:hover,
.header_logo:focus,
.header_nav_link:hover,
.header_nav_link:focus,
.events_link:hover,
.events_link:focus {
  color: var(--button-secondary-color);
}

.header_nav_list {
  display: flex;
  align-items: center;
}

.header_nav_list :not(:last-child) {
  margin-right: 31px;
}

.header_nav_link {
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  color: inherit;
}

.current_link {
  color: var(--button-secondary-color);
}

.button {
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.header_button {
  display: block;
  padding: 0;
  width: 140px;
  height: 39px;
  margin-left: 375px;

  color: var(--button-secondary-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--button-secondary-color);

  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.header_button:hover,
.header_button:focus {
  color: var(--bgc-page-color);
  background-color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-color);
}
/* Hero style */

.hero {
  background-color: var(--bgc-hero-color);
}

.hero_list_item {
  display: flex;
  align-items: center;
}

.hero_title_first {
  font-size: 56px;
  line-height: 1.23;
}

.hero_text_first {
  font-size: 20px;
  line-height: 1.41;
}

.hero_button_first {
  color: var(--bgc-page-color);
  background-color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-color);
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.hero_button_first:hover,
.hero_button_first:focus {
  color: var(--button-secondary-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--button-secondary-color);
}

.hero_title_secondary {
  font-size: 32px;
  line-height: 1.41;
}

.hero_text_secondary {
  font-size: 20px;
  line-height: 1.41;
  text-align: justify;
}

.hero_button_secondary {
  color: var(--button-secondary-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--button-secondary-color);
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.hero_button_secondary:hover,
.hero_button_secondary:focus {
  color: var(--bgc-hero-color);
  background-color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-color);
}

/* Events style */

.events_title {
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}

.events_text {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.events_subtitle {
  font-size: 20px;
  line-height: 1.2;
}

.events_link {
  color: inherit;
  font-size: 14px;
  line-height: 1.36;
  text-decoration: none;
}

/* Sign up style */

.Signup {
  background-color: var(--button-secondary-color);
}

.Signup_title,
.Signup_text {
  font-size: 32px;
  line-height: 1.41;
}

.Signup_first_button {
  color: var(--bgc-page-color);
  background-color: var(--bgc-section-color);
  border: 1px solid var(--button-transparent-color);
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.Signup_first_button:hover,
.Signup_first_button:focus {
  color: var(--font-prime-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--font-prime-color);
}

.Signup_secondary_button {
  color: var(--font-prime-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--font-prime-color);
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.Signup_secondary_button:hover,
.Signup_secondary_button:focus {
  color: var(--bgc-page-color);
  background-color: var(--bgc-section-color);
  border: 1px solid var(--button-transparent-color);
}

/* Blogs style  */

.blogs_title {
  font-size: 32px;
  line-height: 1.9;
  text-align: center;
}

.blogs_text {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.blogs_review {
  background-color: var(--bgc-section-color);
  color: var(--bgc-page-color);
}
.blogs_review_man {
  font-size: 14px;
  line-height: 1.43;
}

.blogs_review_title {
  font-size: 48px;
  line-height: 1.21;
}

.blogs_review_link {
  color: inherit;
  font-size: 18px;
  line-height: 1.39;
  text-decoration: none;
}

.blogs_review_link:hover,
.blogs_review_link:focus,
.blogs_link:hover,
.blogs_link:focus,
.footer_link:hover,
.footer_link:focus {
  color: var(--button-secondary-color);
}

.blogs_title_item {
  font-size: 24px;
  line-height: 1.42;
}
.blogs_text {
  font-size: 18px;
  line-height: 1.39;
}

.blogs_link {
  color: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-decoration: none;
}

/* Footer style */

.footer_link {
  color: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-decoration: none;
}

.footer_list_additions {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
}

.footer_logo {
  color: var(--button-secondary-color);
  font-family: "Homemade Apple";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.17;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer_logo:hover,
.footer_logo:focus {
  color: var(--font-prime-color);
}

.footer_list_networks_link {
  color: inherit;
  text-decoration: none;
}

.footer_list_networks_link:hover,
.footer_list_networks_link:focus {
  color: var(--button-secondary-color);
}
