/* цвет-фона-страницы/цвет-шрифта #ffffff
цвет-фона-хедера #fafafa
цвет-фона-героя #F1F1F2 
первичный-цвет-кнопки rgba(28,28,28,0) вторичный-цвет-кнопки #F7941E
цвет-фона-секции-Blogs-Ever #231F20 
основной-цвет-шрифта #000000 */

:root {
  --bgc-page-color: #ffffff;
  --bgc-header-color: #fafafa;
  --bgc-hero-color: #f1f1f2;
  --bgc-section-color: #231f20;
  --font-prime-color: #000000;
  --button-transparent-color: rgba(28, 28, 28, 0);
  --button-secondary-color: #f7941e;
}
.list {
  list-style: none;
}

body {
  background-color: var(--bgc-page-color);
  color: var(--font-prime-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.list,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* Header style */

header {
  background-color: var(--bgc-header-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

.header_container {
  display: flex;
}

.header_nav {
  display: flex;
}

.header_logo {
  margin-right: 433px;
  margin-left: 80px;
  color: inherit;
  font-family: Homemade Apple, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.17;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.header_logo:hover,
.header_logo:focus,
.header_nav_link:hover,
.header_nav_link:focus,
.events_link:hover,
.events_link:focus {
  color: var(--button-secondary-color);
}

.header_nav_list {
  display: flex;
  align-items: center;
}

.header_nav_list :not(:last-child) {
  margin-right: 31px;
}

.header_nav_link {
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  color: inherit;
}

.current_link {
  color: var(--button-secondary-color);
}

.button {
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.header_button {
  display: block;
  padding: 0;
  width: 140px;
  height: 39px;
  margin-left: 375px;

  color: var(--button-secondary-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--button-secondary-color);

  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.header_button:hover,
.header_button:focus {
  color: var(--bgc-page-color);
  background-color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-color);
}
/* Hero style */

.hero {
  background-color: var(--bgc-hero-color);
}

.hero_content_first {
  margin: 154px 126px 135px 162px;
}

.hero_list_item_first {
  display: flex;
  align-items: center;
}

.hero_title_first {
  font-size: 56px;
  line-height: 1.23;
}

.hero_text_first {
  margin-top: 36px;
  margin-bottom: 52px;

  font-size: 20px;
  line-height: 1.41;
}

.hero_button_first {
  padding: 0;
  width: 200px;
  height: 60px;

  color: var(--bgc-page-color);
  background-color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-color);
  font-size: 18px;
  line-height: 1.22;
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.hero_button_first:hover,
.hero_button_first:focus {
  color: var(--button-secondary-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--button-secondary-color);
}

.hero_container img,
.blogs_review img,
.events_list_item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero_img_first {
  margin-left: auto;
}

.hero_content_secondary {
  margin: 164px 166px 104px 112px;
}

.hero_list_item_secondary {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.hero_title_secondary {
  font-size: 32px;
  line-height: 1.41;
}

.hero_text_secondary {
  margin-top: 23px;
  margin-bottom: 35px;

  font-size: 20px;
  line-height: 1.41;
  text-align: justify;
}

.hero_button_secondary {
  padding: 0;
  width: 200px;
  height: 60px;

  color: var(--button-secondary-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--button-secondary-color);
  font-size: 18px;
  line-height: 1.33;
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.hero_button_secondary:hover,
.hero_button_secondary:focus {
  color: var(--bgc-hero-color);
  background-color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-color);
}

.hero_img_secondary {
  margin-right: auto;
}

/* Events style */
.events {
  padding-top: 96px;
  padding-bottom: 137px;
}

.events_title {
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}

.events_text {
  margin-top: 23px;
  margin-bottom: 64px;

  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.events_list {
  display: flex;
  justify-content: center;
}

.events_list_item {
  background-color: var(--bgc-header-color);
}

.events_list_item:not(:last-child) {
  margin-right: 30px;
}

.events_list_item:hover,
.events_list_item:focus {
  background-color: var(--bgc-page-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.events_list_item_content {
  padding: 24px;
}

.events_subtitle {
  margin-bottom: 74px;

  font-size: 20px;
  line-height: 1.2;
}

.events_link {
  padding: 20px;

  color: inherit;
  font-size: 14px;
  line-height: 1.36;
  text-decoration: none;
}

/* Sign up style */

.signup {
  background-color: var(--button-secondary-color);
  padding-top: 81px;
  padding-bottom: 69px;
}

.signup_container {
  display: flex;
  align-items: center;
}

.signup_desc {
  margin-left: 235px;
  margin-right: 229px;
}

.signup_title,
.signup_text {
  font-size: 32px;
  line-height: 1.41;
  /* text-align: center; */
}

.signup_list {
  display: flex;
}

.signup_first_button {
  width: 200px;
  height: 48px;
  padding: 0;
  margin-right: 16px;

  color: var(--bgc-page-color);
  background-color: var(--bgc-section-color);
  border: 1px solid var(--button-transparent-color);
  font-size: 18px;
  line-height: 1.22;
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.signup_first_button:hover,
.signup_first_button:focus {
  color: var(--font-prime-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--font-prime-color);
}

.signup_secondary_button {
  width: 200px;
  height: 48px;
  padding: 0;

  color: var(--font-prime-color);
  background-color: var(--button-transparent-color);
  border: 1px solid var(--font-prime-color);
  font-size: 18px;
  line-height: 1.22;
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.signup_secondary_button:hover,
.signup_secondary_button:focus {
  color: var(--bgc-page-color);
  background-color: var(--bgc-section-color);
  border: 1px solid var(--button-transparent-color);
}

/* Blogs style  */

.blogs {
  padding-top: 88px;
  padding-bottom: 80px;
}

.blogs_group_one {
  padding-bottom: 71px;
}
.blogs_title {
  margin-bottom: 23px;

  font-size: 32px;
  line-height: 1.9;
  text-align: center;
}

.blogs_text {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.blogs_review {
  display: flex;
  margin-right: 135px;
  margin-left: 135px;

  background-color: var(--bgc-section-color);
  color: var(--bgc-page-color);
}

.blogs_review_man {
  font-size: 14px;
  line-height: 1.43;
}

.blogs_review_title {
  width: 492px;
  margin-top: 27px;
  margin-bottom: 60px;

  font-size: 48px;
  line-height: 1.21;
}

.blogs_review_link {
  padding: 20px 20px 20px 0;
  color: inherit;
  font-size: 18px;
  line-height: 1.39;
  text-decoration: none;
}

.blogs_review_link:hover,
.blogs_review_link:focus,
.blogs_link:hover,
.blogs_link:focus,
.footer_link:hover,
.footer_link:focus {
  color: var(--button-secondary-color);
}

.blogs_title_item {
  font-size: 24px;
  line-height: 1.42;
  text-align: left;
}
.blogs_text_item {
  width: 470px;
  margin-top: 16px;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.39;
}

.blogs_link {
  color: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-decoration: none;
}

.blogs_group_two {
  padding: 63px 200px 49px 78px;
}

.blogs_list {
  display: flex;
  padding-top: 40px;
  margin-right: 135px;
  margin-left: 135px;
}

.blogs_list_item {
  display: block;
  padding: 48px 48px 50px 48px;
}

.blogs_list_item:hover,
.blogs_list_item:focus {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blogs_list_item:not(:last-child) {
  margin-right: 30px;
}

/* Footer style */

footer {
  background-color: var(--bgc-header-color);
  padding-top: 115px;
  padding-bottom: 35px;
}
.footer_block {
  display: flex;
}

.footer_list_first {
  display: flex;
  margin-left: 406px;
  align-items: center;
}

.footer_link {
  color: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-decoration: none;
}

.footer_list_first_item:not(:last-child) {
  margin-right: 81px;
}

.footer_logo {
  margin-right: 141px;
  margin-left: 141px;

  color: var(--button-secondary-color);
  font-family: Homemade Apple, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.17;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer_list_secondary {
  display: flex;
  align-items: center;
}

.footer_list_secondary_item:not(:last-child) {
  margin-right: 54px;
}

.footer_list_networks {
  display: flex;
  margin: 98px 572px 72px 572px;
}

.footer_list_netwarks_item:not(:last-child) {
  margin-right: 24px;
}

.footer_logo:hover,
.footer_logo:focus {
  color: var(--font-prime-color);
}

.footer_list_networks_link {
  color: inherit;
  text-decoration: none;
}

.footer_list_networks_link:hover,
.footer_list_networks_link:focus {
  color: var(--button-secondary-color);
}

.footer_list_additions {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.43;
  text-align: center;
}

.footer_list_additions_item:not(:last-child) {
  margin-right: 14px;
}
